:root {
    --main-bg-color: #5F9EA0;
    --secondary-color:#FFA500;
    --gray-color: #DCDCDC;
    --like-black: #333333;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
    color: var(--like-black);
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.5em;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    margin-bottom: 2em;
}

h6 {
    font-size: 1rem;
    color: #FFF;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    padding: 2rem;
}

.header {
    grid-area: header;
    width: 100%;
    min-height: 35em;
    background-image: url("../img/home.jpg");
    background-blend-mode: saturation;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
}

.header p {
    background-color: rgb(255, 255, 255, 0.4);
    padding: 1em;
}

.logo {
    max-width: 210px !important;
}

.logo-simple {
    display: none;
}

ul {
    margin-top: 5em;
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

li {
    margin: 10px;
    color: #FFF;
}


select {
    min-width: 95%;
    margin: 10px;
}

.locations {
    grid-area: locations;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(18rem, auto);
    gap: 10px;
    padding: 10px 0;
}

.location-img {
    width: 100%;
    max-width: 25rem;
}

.location-info {
    position: absolute;
    width: 100%;
    padding: 10px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70%;
}

.location-info > * {
    color: #FFF;
}

.location-name {
    font-size: 45px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}

.location-description {
    padding: 2em 0;
}

.location-description, .info-button {
    display: none;
}

.location-card:hover .location-name {
    background-color: rgba(0, 0, 0, 0);
}

.location-card:hover {
    justify-content: flex-end;
}

.location-card:hover .location-info {
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-around;
    animation: fadeIn 1000ms;
}

.location-card:hover .location-description, .location-card:hover .info-button {
    display: block;
    animation: fadeIn 1000ms;
}

.info-button {
    background-color: var(--secondary-color); 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-weight: 500;
}

.contact {
    grid-area: contact;
    background-color: var(--gray-color);
    padding: 4em;
    text-align: center;
}

.contac-form {
    text-align: center;
}

.btn {
    background-color: orange;
    border: none;
    padding: 0.5em 6em;
    color: #FFF;
    font-weight: 500;
    font-size: 1.2em;
}

input {
    margin: 10px;
    min-width: 50em;
    min-height: 3em;
}


footer {
    grid-area: footer;
    min-height: 5vh;
    text-align: center;
    padding-top: 10px;
    background-color: var(--secondary-color);
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: stretch;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
    "nav header"
    "nav locations "
    "nav locations "
    "nav contact"
    "footer footer ";
}


.location-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 25rem;
    min-width: 25rem;
    text-align: center;
    border: 1px solid var(--gray-color);
    font-weight: 500;
}

footer i {
    color: #FFF;
    font-size: 1.5em;
}

@media (max-width: 576px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "header"
        "locations"
        "contact"
        "footer";
        min-height: 100vh;
    }

    nav {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5rem;
    }

    .logo {
        display: none;
    }

    .logo-simple {
        display: block;
        max-height: 5em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .header {
        padding: 0 1em;
        min-height: 28em;
    }

    .locations {
        grid-template-columns: auto;
    }

    .location-card {
        animation: fadeIn 1000ms;
    }


}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}
    